body{padding:0; margin:0; color:#323232;font: 12px/1.5 "Microsoft yahei",arial, Simsun, sans-serif;font-family: "微软雅黑";overflow-x: hidden;background-color: #f0f0f0;}
input{outline:none;border:none;padding: 0;margin: 0;}
input{-webkit-appearance:none;appearance:none;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);border-radius:0;}
img{border:none;outline: none;display: block;}
h1,h2,h3,h4,p{ padding:0; margin:0; line-height:100%; font-weight:normal;font-style: normal;}
ul,li{ padding:0; margin:0; list-style:none}
